*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:white;
}

.container{
    width:400px;
    height:300px;
    background:#5a5974;
    display:flex;
    justify-content:center;
    align-items:center;
}

.grid{
    display:grid;
    grid-template-columns:repeat(3, 80px);
    grid-template-rows:repeat(2, 120px);
    gap:20px;
}

.item{
    background:#e6cf8f;
    border-radius:50px;
}